<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>CIFramework.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>5</integer>
		</dict>
		<key>Framework.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>4</integer>
		</dict>
		<key>Paypoint.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>PaypointTests.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>501C8E751AC03B9D00CBA25A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>501D5EEF1ACD3C9900E61680</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5027E54D1AFA159000926C90</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5069F6511ABC7DA30077FB10</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5069F66A1ABC7DA30077FB10</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5069F67F1ABC7EBA0077FB10</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5069F6891ABC7EBA0077FB10</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5081F3B01AE7D38300D41911</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5092F3541AFA1E8F004FFF62</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>50DCC1A91AE7CAAA00D0FE26</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>50DCC1B31AE7CAAA00D0FE26</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>50DCC1C91AE7CB3200D0FE26</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
